/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/bootswatch/dist/cosmo/bootstrap.min.css';

a {
  text-decoration: none !important; // !important = Programa dará preferência para o atributo que tiver essa observação
}

a:hover{
  text-decoration: underline !important;
}
